body, html {
	height: 100%;
	margin: 0;
	padding: 0; 
	width: 100%;
}

.page {
	background: url('assets/main.png');
	display: flex;
	height: 1080px;
	overflow: hidden;
	position: relative;
	width: 1920px;
	.page__customer {
		animation-name: showCustomer;
  		animation-duration: 1s;	
		background: url('assets/customer.png');
		height: 174px;
		left: 330px;
		position: absolute;
		top: 178px;
		width: 170px;
		z-index: 1;
	}
	.page__customer--disapear {
		animation-name: hideCustomer;
  		animation-duration: 600ms;			
	}
	.page__order-box {
		background: url('assets/orderbox.png');
		height: 99px;
		left: 430px;
		position: absolute;
		top: 445px;
		width: 70px;
		z-index: 1;
	}
	.page__wall {
		background: url('assets/wall.png');
		bottom: 294px;
		height: 547px;
		left: 0;
		position: absolute;
		top: 63px;
		width: 567px;
	}
	.page__girder {
		background: url('assets/girder.png');
		top: 219px;
		height: 390px;
		left: 645px;
		position: absolute;
		width: 26px;
	}
	.page__track-container {
		height: 23px;
		position: absolute;
		left: 500px;
		top: 228px;
		width: 187px;
		.page__track-container__line {
			animation: trackLineMove infinite 300ms linear;
			background: url('assets/track_base.png');
			height: 8px;
			position: absolute;
			top: 0;
			width: 8px;
		}
		.page__track-container__wheel {
			animation-name: rotateWheelForward;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			background: url('assets/track_wheel.png');
			bottom: 2px;
			height: 12px;
			position: absolute;
			width: 12px;
		}
		.page__track-container__wheel--one {
			left: 10px;
		}
		.page__track-container__wheel--two {
			left: 65px;	
		}
		.page__track-container__wheel--three {
			left: 120px;
		}
	}
	.page__lift {
		background: url('assets/lift.png');
		bottom: 490px;
		height: 158px;
		left: 275px;
		position: absolute;
		width: 193px;
		.page__lift__fork {
			background: url('assets/fork.png');
			bottom: 0;
			height: 76px;
			position: absolute;
			right: -96px;
			width: 98px;
		}
		.page__lift__wheel-left {
			background: url('assets/lift_back_wheel.png');
			bottom: -14px;
			height: 46px;
			position: absolute;
			width: 46px;
		}
		.page__lift__wheel-right {
			background: url('assets/lift_front_wheel.png');
			bottom: -14px;
			height: 56px;
			right: 6px; 
			position: absolute;
			width: 56px;
		}
	}
	.page__rack {
		background: url('assets/rack.png');
		bottom: 845px;
		height: 8px;
		left: 669px;
		position: absolute;
		width: 87px;		
	}
	.page__package {
		background: url('assets/package.png');
		bottom: 846px;
		height: 141px;
		left: 420px;
		position: absolute;
		width: 67px;		
	}
	.page__contract {
		background: url('assets/order.png');
		bottom: 770px;
		height: 71px;
		left: 438px;
		position: absolute;
		width: 52px;
		animation-name: contractMove;
  		animation-duration: 2s;	
	}
}

.truck {
	background: url('assets/truck_body.png');
	height: 216px;
	position: absolute;
	width: 395px;
	.truck__wheel {
		background: url('assets/truck_wheel.png');
		height: 60px;
		width: 60px;
	}
	.truck__wheel--left {
		bottom: -22px;
		left: 29px;
		position: absolute;
	}
	.truck__wheel--right {
		bottom: -22px;
		right: 65px; 
		position: absolute;
	}
}

.truck--page {
	right: 220px;
	bottom: 440px;	
}

.truck--background {
	
}

.second-truck-block {
    border-radius: 21px 21px 0 0;
    display: flex;
    height: 350px;
    justify-content: center;	
    padding: 88px 0 0px 100px;
    position: relative;
    width: 100%;
}

.rotateMachineWheelForward {
	animation-name: rotateWheelForward;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.rotateMachineWheelBackwards {
	animation-name: rotateWheelBackwards;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes contractMove {
    0% {
    	bottom: 770px;;
   	}
    100% {
    	bottom: 560px;;
    }
    
}

@keyframes showCustomer {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes hideCustomer {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes rotateWheelForward {
	0% {
		transform: rotate(0deg);	
	}
	100% {
		transform: rotate(360deg);	
	}
}

@keyframes rotateWheelBackwards {
	0% {
		transform: rotate(0deg);	
	}
	100% {
		transform: rotate(-360deg);	
	}
}

@keyframes trackLineMove {
	0% {
		transform: translateX(-15px);
	}
	100% {
		transform: translateX(5px);
	}	
}